# ==============================
# 🌐 Project-Specific Ignores
# ==============================
# Docker
*.pid
*.log
*.sock
*.db

# Docker Named Volumes
icecast_logs/
liquidsoap_logs/

# Media Folders
media/music_playlist.m3u
media/ads/*
!media/ads/.gitignore

media/buffers/*
!media/buffers/.gitignore

media/ids/*
!media/ids/.gitignore

media/music/*
!media/music/.gitignore

# Environment Variables
.env
.env.local
.env.*
!.env.example

# Node Modules
node_modules/

# Backup & Temp Files
*~
*.swp
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db

# ==============================
# 🧠 Editor & IDEs
# ==============================

# VSCode
.vscode/
.history/
.code-workspace

# Editors
.idea/
*.iml
*.ipr
*.iws
out/
.zed/
*.sublime-project
*.sublime-workspace
*.code-workspace
